<div class="statistic">
  <div class="statistic__container">
    <div class="statistic__item">
      <img
        src="assets/images/svg/icon_income.svg"
        alt=""
        class="statistic__image"
      />
      <div class="statistic__info">
        <strong class="statistic__title">Rp 4 Triliun</strong>
        <p class="statistic__description">Pembiayaan yang telah disalurkan</p>
      </div>
    </div>
    <div class="statistic__item">
      <img
        src="assets/images/svg/icon_smartphone.svg"
        alt=""
        class="statistic__image"
      />
      <div class="statistic__info">
        <strong class="statistic__title">4.6 juta Pengguna</strong>
        <p class="statistic__description">Mengunduh aplikasi Tunaiku</p>
      </div>
    </div>
  </div>
</div>
