<app-navbar></app-navbar>
<main class="Content landing-page">
  <div class="landing-hero">
    <div class="landing-hero__content">
      <div class="landing-hero__content-main">
        <h1 class="landing-hero__title">
          Ajukan Pinjaman Online Tanpa Jaminan
        </h1>
        <p class="landing-hero__subtitle">
          Hanya dengan KTP, dapatkan kredit tanpa agunan hingga
          <strong>Rp20.000.000</strong>
        </p>
      </div>
      <div class="landing-hero__content-footer">
        <div class="landing-hero__content-footer-text">
          <p>
            Tunaiku adalah produk dari Bank Amar yang terdaftar dan diawasi oleh
            OJK sejak 2014
          </p>
        </div>
        <div class="landing-hero__content-footer-logos">
          <a href=""><img src="assets/images/svg/Amar-Bank.svg" alt="" /></a>
          <a href=""> <img src="assets/images/svg/OJK.svg" alt="" /></a>
        </div>
      </div>
    </div>
    <div class="landing-hero__woman">
      <img
        src="assets/images/png/homepage-woman.png"
        alt="landing-woman"
        class="landing-hero__woman-img"
      />
    </div>
    <div class="landing-hero__slider-container">
      <div class="Card Card--elevated landing-hero__card">
        <div class="Card-body">
          <div class="landing-hero__card--row">
            <span class="landing-hero__card-title">Jumlah Pinjaman</span>
            <span class="landing-hero__card-subtitle"
              >{{ guest.loanValue }} Juta</span
            >
          </div>
          <div class="landing-hero__card--row">
            <mat-slider
              min="2"
              max="20"
              step="1"
              value="2"
              class="landing-hero__card-slider"
              (input)="onValueChange($event)"
            ></mat-slider>
          </div>
          <div class="landing-hero__card--row landing-hero__card-info">
            <p>2 Juta</p>
            <p>20 Juta</p>
          </div>
          <div class="landing-hero__card--row">
            <span class="landing-hero__card-title">Lama Pinjaman</span>
            <span class="landing-hero__card-subtitle"
              >{{ guest.loanDuration }} Bulan</span
            >
          </div>
          <div class="landing-hero__card--row">
            <mat-slider
              min="6"
              max="20"
              step="1"
              value="9"
              class="landing-hero__card-slider"
              (input)="onDurationChange($event)"
            ></mat-slider>
          </div>
          <div class="landing-hero__card--row landing-hero__card-info">
            <p>6 Bulan</p>
            <p>20 Bulan</p>
          </div>
          <div class="landing-hero__card-footer-content">
            <span class="landing-hero__card-footer-title"
              >Cicilan per Bulan</span
            >
            <p class="landing-hero__card-footer-subtitle">
              *sudah termasuk bunga dan biaya admin
            </p>
            <span class="landing-hero__card-footer-total">{{
              guest.debt | currency: "Rp":"symbol":"3.0"
            }}</span>
          </div>
        </div>

        <div class="Card-footer">
          <a
            routerLink="/loan/confirm-service-area"
            class="Button Button--primary Button--fullWidth landing-hero__card-button"
          >
            Ajukan Pinjaman
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="statistic">
    <div class="statistic__item">
      <img src="assets/images/svg/icon_income.svg" alt="" />
      <div class="statistic__info">
        <strong>> Rp 4 Triliun</strong>
        <p>Pembiayaan yang telah disalurkan</p>
      </div>
    </div>
    <div class="statistic__item">
      <img src="assets/images/svg/icon_smartphone.svg" alt="" />
      <div class="statistic__info">
        <strong>> 4.6 juta Pengguna</strong>
        <p>Mengunduh aplikasi Tunaiku</p>
      </div>
    </div>
  </div>

  <div class="testimoni">
    <h2 class="testimoni__title">Testimoni Nasabah</h2>
    <p class="testimoni__subtitle">Apakah KTA Tunaiku Aman?</p>
    <div class="testimoni__container">
      <div class="testimoni__container-item">
        <div class="testimoni__info-container">
          <img
            src="../../../../assets/images/png/testimony_murad.png"
            alt=""
            class="testimoni__img"
          />
          <div class="testimoni__user-text">
            <p>Murad Dn, 41 tahun</p>
            <strong>Rp5.000.000</strong>
          </div>
        </div>
        <hr class="testimoni__divider" />
        <p>Pinjaman mudah, anak bisa sekolah dengan nyaman.</p>
      </div>
      <div class="testimoni__container-item">
        <div class="testimoni__info-container">
          <img
            src="../../../../assets/images/png/testimony_kasriarsih.png"
            alt=""
            class="testimoni__img"
          />
          <div class="testimoni__user-text">
            <p>Kasriasih, 48 tahun</p>
            <strong>Rp10.000.000</strong>
          </div>
        </div>
        <hr class="testimoni__divider" />
        <p>Pinjaman mudah, anak bisa sekolah dengan nyaman.</p>
      </div>
      <div class="testimoni__container-item">
        <div class="testimoni__info-container">
          <img
            src="../../../../assets/images/png/testimony_sarsih.png"
            alt=""
            class="testimoni__img"
          />
          <div class="testimoni__user-text">
            <p>Sarsih Handayani, 37 tahun</p>
            <strong>Rp10.000.000</strong>
          </div>
        </div>
        <hr class="testimoni__divider" />
        <p>
          Tunaiku memberikan kemudahan untuk memperoleh dana, terutama saat dana
          darurat menipis dan asuransi sudah limit.
        </p>
      </div>
      <div class="testimoni__container-item">
        <div class="testimoni__info-container">
          <img
            src="../../../../assets/images/png/testimony_faizal.png"
            alt=""
            class="testimoni__img"
          />
          <div class="testimoni__user-text">
            <p>Faizal Wirya Widodo, 26 tahun</p>
            <strong>Rp2.000.000</strong>
          </div>
        </div>
        <hr class="testimoni__divider" />
        <p>Pelayanan Tunaiku sangatlah baik, keamanannya terjamin</p>
      </div>
    </div>
  </div>
</main>
