<div class="service-area">
  <h2>Area layanan kami</h2>
  <p class="service-area__title">Jawa</p>
  <p>
    Jakarta, Bogor, Depok, Tangerang, Bekasi, Bandung, Semarang, Yogyakarta,
    Gresik, Sidoarjo, dan Surabaya
  </p>
  <p class="service-area__title">Sumatera</p>
  <p>Medan, Palembang, dan Pekanbaru</p>
  <p class="service-area__title">Kota Lainnya</p>
  <p>Makassar, dan Denpasar</p>
  <hr class="service-area__divider" />
  <p class="service-area__note">
    *) Jika ada perluasan wilayah, kami akan segera memperbarui info di website
    dan media sosial kami
  </p>
</div>
