.service-area {
  background-color: #fff;
  padding: 20px;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 22px;
  }

  &__title {
    font-weight: 800;
    font-size: 17px;
    padding-left: 25px;
    position: relative;
    margin: 20px;

    &::before {
      content: '';
      display: inline-block;
      background-image: url('/assets/images/svg/location.svg');
      background-size: contain;
      background-repeat: no-repeat;
      height: 20px;
      width: 20px;
      position: absolute;
      top: 2px;
      left: 0;
    }
  }

  &__divider {
    width: 80%;
    border: 1px solid #979797;
  }

  &__note {
    font-size: 10px;
    color: #6d7278;
  }
}
