<div class="lending-process">
  <h2>Langkah Mengajukan Pinjaman di Tunaiku</h2>
  <div class="lending-process__container">
    <div class="lending-process__item">
      <ul>
        <li>
          <strong>Pendaftaran</strong>
          <p>
            Pilih jumlah dan lama pinjaman yang Anda inginkan. Isi formulir
            pengajuan kirimkan formulir pengajuan
          </p>
        </li>
        <li>
          <strong>Terima Persetujuan</strong>
          <p>
            Data Anda akan diproses oleh tim analis kami. Silakan tunggu kurang
            lebih 24 jam untuk mengetahui status pengajuan Anda.
          </p>
        </li>
        <li>
          <strong>Konfirmasi Pinjaman</strong>
          <p>
            Konfirmasi pinjaman Anda yang telah disetujui dan atur lokasi tanda
            tangan kontrak Anda dengan kurir kami.
          </p>
        </li>
        <li>
          <strong>Tanda Tangan Kontrak</strong>
          <p>
            Kurir kami akan membawa kontrak asli untuk Anda tandatangani sebagai
            bukti perjanjian, dalam 1-3 hari kerja (Tunaiku tidak melakukan
            survei).
          </p>
        </li>
        <li>
          <strong>Terima Dana</strong>
          <p>Dana akan dicairkan ke rekening bank Anda (1-3 hari kerja).</p>
        </li>
      </ul>
    </div>
    <div class="lending-process__item">
      <img src="assets/images/svg/apply-loan-steps.svg" alt="" />
    </div>
  </div>
</div>
