<app-m-site-wrapper [headerTitle]="'Ajukan Pinjaman'">
  <div class="card-pinjaman">
    <div class="row--space-between">
      <div>
        <p class="card-pinjaman__text">Total Pinjaman</p>
        <strong>Rp {{ guest.loanValue }} Juta</strong>
      </div>
    </div>
    <div class="row--space-between">
      <div>
        <p class="card-pinjaman__text">Cicilan per Bulan</p>
        <strong>{{ guest.debt | currency: "Rp ":"symbol":"3.0" }}</strong>
      </div>
      <div class="card-pinjaman--flex-end">
        <p class="card-pinjaman__text">Lama cicilan</p>
        <strong>{{ guest.loanDuration }} Bulan</strong>
      </div>
    </div>
  </div>
  <div class="tab-bar">
    <div
      class="tab-bar__button"
      [ngClass]="{
        'tab-bar__button--active': selectedTab === 'create-account'
      }"
      (click)="tabHandler('create-account')"
    >
      <span class="tab-bar__button-text">Buat Akun</span>
    </div>
    <div
      class="tab-bar__button"
      [ngClass]="{
        'tab-bar__button--active': selectedTab === 'sign-in'
      }"
      (click)="tabHandler('sign-in')"
    >
      <span class="tab-bar__button-text">Masuk Akun</span>
    </div>
  </div>
  <div class="form">
    <div *ngIf="selectedTab === 'create-account'; else signIn">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name" class="form__label"> Nama sesuai KTP* </label>
          <input
            type="text"
            formControlName="name"
            id="name"
            class="form__input"
          />
          <span
            class="form__validation"
            *ngIf="
              form.get('name').hasError('required') &&
              form.get('name').touched &&
              form.get('name').dirty
            "
            >Nama lengkap wajib diisi <br
          /></span>
          <span
            class="form__validation"
            *ngIf="
              form.get('name').hasError('pattern') &&
              form.get('name').touched &&
              form.get('name').dirty
            "
            >Nama lengkap hanya menggunakan alphabet<br
          /></span>
          <span
            class="form__validation"
            *ngIf="
              form.get('name').hasError('maxlength') &&
              form.get('name').touched &&
              form.get('name').dirty
            "
            >Nama lengkap maksimal 50 karakter</span
          >
        </div>
        <div class="form-group">
          <label class="form__label"> Nomor KTP (NIK)* </label>
          <input
            type="text"
            formControlName="nik"
            id="nik"
            class="form__input"
          />
          <span
            class="form__validation"
            *ngIf="
              form.get('nik').hasError('required') &&
              form.get('nik').touched &&
              form.get('nik').dirty
            "
            >Nomor KTP wajib diisi<br
          /></span>
          <span
            class="form__validation"
            *ngIf="
              (form.get('nik').hasError('minlength') ||
                form.get('nik').hasError('maxlength')) &&
              form.get('nik').touched
            "
            >Nomor KTP harus 16 digit<br
          /></span>
          <span
            class="form__validation"
            *ngIf="
              form.get('nik').hasError('pattern') && form.get('nik').touched
            "
            >Nomor KTP harus menggunakan angka<br
          /></span>
        </div>
        <div class="form-group">
          <label class="form__label" class="form__label"
            >Nomor Handphone*
          </label>
          <input type="text" formControlName="phone" class="form__input" />
          <span
            class="form__validation"
            *ngIf="
              form.get('phone').hasError('required') &&
              form.get('phone').touched &&
              form.get('phone').dirty
            "
            >Nomor handphone wajib diisi<br
          /></span>
          <span
            class="form__validation"
            *ngIf="
              form.get('phone').hasError('pattern') &&
              form.get('phone').touched &&
              form.get('phone').dirty
            "
            >Nomor handphone wajib menggunakan angka<br
          /></span>
          <span
            class="form__validation"
            *ngIf="
              form.get('phone').hasError('minlength') &&
              form.get('phone').touched &&
              form.get('phone').dirty
            "
            >Nomor handphone minimal 9 karakter<br
          /></span>
          <span
            class="form__validation"
            *ngIf="
              form.get('phone').hasError('maxlength') &&
              form.get('phone').touched &&
              form.get('phone').dirty
            "
            >Nomor handphone maksimal 12 karakter<br
          /></span>
        </div>
        <div class="form-group">
          <label class="form__label">
            Dari mana Anda mengetahui Tunaiku?*
          </label>
          <select class="form__select" formControlName="source">
            <option value="">Pilih salah satu</option>
            <option value="internet">Internet</option>
            <option value="teman">Teman</option>
            <option value="radio">Radio</option>
            <option value="selebaran-brosur">Selebaran/Brosur</option>
            <option value="televisi">Televisi</option>
            <option value="lainnya">Lainnya</option>
          </select>
        </div>
        <button
          class="Button Button--primary Button--fullWidth"
          type="submit"
          [ngClass]="{
            'is-disabled':
              !form.get('name').valid ||
              !form.get('nik').valid ||
              !form.get('phone').valid ||
              !form.get('source').valid
          }"
        >
          Buat Akun!
        </button>
      </form>
    </div>
    <ng-template #signIn>
      <div class="sign-in">
        <p class="sign-in__title">Masuk ke Akun Anda</p>
        <p class="sign-in__subtitle">Nomor Handphone</p>
        <form [formGroup]="signInForm">
          <div class="form-group">
            <input type="text" formControlName="phone" class="form__input" />
          </div>
        </form>
        <button
          class="Button Button--primary Button--rounded Button--fullWidth"
        >
          MASUK
        </button>
        <div class="sign-in--center">
          <a class="sign-in__forget">Lupa atau ubah nomor handphone?</a>
          <div class="sign-in__information">
            <p>
              Untuk keamanan data Anda, pastikan ikon tampil di halaman URL
              Tunaiku
            </p>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</app-m-site-wrapper>
