.card-pinjaman {
  display: flex;
  padding: 16px;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
}

.row--space-between {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.tab-bar__container {
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
}

.tab-bar__button-text {
  margin: 0 24px;
}

.tab-bar__button {
  padding: 12px 16px;
  cursor: pointer;
}

.tab-bar__button--active {
  color: #48a800;
  border-bottom: 4px solid #48a800;
}

.form__container {
  padding: 16px;
  position: relative;
}

.form-label {
  display: block;
  font-weight: bold;
  font-size: 14px;
}

.form-input {
  display: block;
  width: 100%;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #cdd0d6;
  padding: 0 12px;
  margin-bottom: 16px;
}
