<div class="download">
  <div class="download__img-container">
    <img src="assets/images/svg/download-section.svg" alt="" />
  </div>
  <div class="download__info-container">
    <p class="download__title">
      Dapatkan Pengalaman Meminjam Mudah dan Praktis
    </p>
    <p class="download__subtitle">
      Pantau status pengajuan kreditmu dengan mudah, kapan pun, dimana pun
    </p>
    <div>
      <img src="assets/images/svg/Google-Play.svg" alt="" />
      <img src="assets/images/svg/App-Store.svg" alt="" />
    </div>
  </div>
</div>
