<div class="testimoni">
  <h2 class="testimoni__title">Testimoni Nasabah</h2>
  <p class="testimoni__subtitle">Apakah KTA Tunaiku Aman?</p>
  <div class="testimoni__container">
    <div class="testimoni__container-item">
      <div class="testimoni__info-container">
        <img
          src="../../../../assets/images/png/testimony_murad.png"
          alt=""
          class="testimoni__img"
        />
        <div class="testimoni__user-text">
          <p>Murad Dn, 41 tahun</p>
          <strong>Rp5.000.000</strong>
        </div>
      </div>
      <hr class="testimoni__divider" />
      <p>Pinjaman mudah, anak bisa sekolah dengan nyaman.</p>
    </div>
    <div class="testimoni__container-item">
      <div class="testimoni__info-container">
        <img
          src="../../../../assets/images/png/testimony_kasriarsih.png"
          alt=""
          class="testimoni__img"
        />
        <div class="testimoni__user-text">
          <p>Kasriasih, 48 tahun</p>
          <strong>Rp10.000.000</strong>
        </div>
      </div>
      <hr class="testimoni__divider" />
      <p>Pinjaman mudah, anak bisa sekolah dengan nyaman.</p>
    </div>
    <div class="testimoni__container-item">
      <div class="testimoni__info-container">
        <img
          src="../../../../assets/images/png/testimony_sarsih.png"
          alt=""
          class="testimoni__img"
        />
        <div class="testimoni__user-text">
          <p>Sarsih Handayani, 37 tahun</p>
          <strong>Rp10.000.000</strong>
        </div>
      </div>
      <hr class="testimoni__divider" />
      <p>
        Tunaiku memberikan kemudahan untuk memperoleh dana, terutama saat dana
        darurat menipis dan asuransi sudah limit.
      </p>
    </div>
    <div class="testimoni__container-item">
      <div class="testimoni__info-container">
        <img
          src="../../../../assets/images/png/testimony_faizal.png"
          alt=""
          class="testimoni__img"
        />
        <div class="testimoni__user-text">
          <p>Faizal Wirya Widodo, 26 tahun</p>
          <strong>Rp2.000.000</strong>
        </div>
      </div>
      <hr class="testimoni__divider" />
      <p>Pelayanan Tunaiku sangatlah baik, keamanannya terjamin</p>
    </div>
  </div>
</div>
