.service-area {
  padding: 16px;

  &__image {
    text-align: center;
    margin-bottom: 20px;
  }

  &__title {
    font-weight: bold;
    margin-bottom: 15px;
  }

  &__text-option {
    white-space: normal;
    font-size: 14px;
    font-weight: normal;
  }

  &__button {
    margin-top: 20px;
  }
}

::ng-deep .mat-radio-container {
  align-self: end;
}
