<app-m-site-wrapper headerTitle="Area Layanan">
  <div class="service-area">
    <div class="service-area__image">
      <img src="assets/images/svg/service-area.svg" alt="service-area" />
    </div>
    <div>
      <p class="service-area__title">
        Pilih area tempat tinggal Anda di bawah ini!
      </p>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
      >
        <mat-radio-button value="1" aria-labelledby="cities">
          <span>
            <span class="service-area__text-option"
              ><strong>Jawa: </strong>Jakarta, Bogor, Depok, Tangerang, Bekasi,
              Bandung, Semarang, Yogyakarta, Gresik<br
            /></span>
            <span class="service-area__text-option"
              ><strong>Sumatera: </strong>Medan, Palembang, Pekanbaru<br
            /></span>
            <span class="service-area__text-option"
              ><strong>Bali: </strong>Denpasar<br
            /></span>
            <span class="service-area__text-option"
              ><strong>Sulawesi: </strong>Makasar<br
            /></span>
          </span>
        </mat-radio-button>
        <mat-radio-button value="2"
          ><p>
            <span class="service-area__text-option">Di kota lainnya<br /></span>
          </p>
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="service-area__button">
      <a
        routerLink="/loan/create-account"
        class="Button Button--primary Button--fullWidth"
      >
        Lanjutkan
      </a>
    </div>
  </div>
</app-m-site-wrapper>
