<app-m-site-wrapper>
  <div class="container">
    <div class="image-container">
      <img src="assets/images/svg/service-area.svg" alt="service-area" />
    </div>
    <div class="content-container">
      <p class="title">Pilih area tempat tinggal Anda di bawah ini!</p>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
      >
        <mat-radio-button value="1"
          ><p>
            <span class="text-option"
              ><strong>Jawa: </strong>Jakarta, Bogor, Depok, Tangerang, Bekasi,
              Bandung, Semarang, Yogyakarta, Gresik<br
            /></span>
            <span class="text-option"
              ><strong>Sumatera: </strong>Medan, Palembang, Pekanbaru<br
            /></span>
            <span class="text-option"
              ><strong>Bali: </strong>Denpasar<br
            /></span>
            <span class="text-option"
              ><strong>Sulawesi: </strong>Makasar<br
            /></span>
          </p>
        </mat-radio-button>
        <mat-radio-button value="2"
          ><p>
            <span class="text-option">Di kota lainnya<br /></span>
          </p>
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="button-container">
      <a
        routerLink="/loan/create-account"
        class="Button Button--primary Button--fullWidth"
      >
        Lanjutkan
      </a>
    </div>
  </div>
</app-m-site-wrapper>
