<div class="rates-and-fees">
  <h2>Suku Bunga & Biaya Lainnya</h2>
  <div class="rates-and-fees__container">
    <div class="rates-and-fees__item">
      <img src="assets/images/svg/administration-fee.svg" alt="" />
      <p>Biaya Administrasi</p>
      <strong>Rp540.000</strong>
    </div>
    <div class="rates-and-fees__item">
      <img src="assets/images/svg/rates.svg" alt="" />
      <p>Suku Bunga</p>
      <strong>3-4% per bulan</strong>
    </div>
    <div class="rates-and-fees__item">
      <img src="assets/images/svg/early-fee.svg" alt="" />
      <p>Biaya Pelunasan Lebih Awal</p>
      <strong>GRATIS</strong>
    </div>
    <div class="rates-and-fees__item">
      <img src="assets/images/svg/late-fee.svg" alt="" />
      <p>Denda Keterlambatan</p>
      <strong>Rp150.000/bulan</strong>
    </div>
  </div>
</div>
