.landing-page {
  position: relative;
  margin-top: 70px;
}

.landing-hero {
  position: relative;
  min-height: calc(100vh - 70px);
  padding: 5% 10%;
  background-color: #fff;

  display: flex;
  justify-content: center;

  &__content {
    flex: 1;
    margin-right: 260px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (max-width: 1200px) {
      display: none;
    }
  }

  &__woman {
    position: absolute;
    right: 20%;
    flex: 0 0 10%;
    opacity: 0.5;
    transform: scaleX(-1);
    margin-left: -180px;

    @media only screen and (max-width: 1200px) {
      display: none;
    }
  }

  &__content-footer {
    background-color: #fff;
    border-radius: 10px;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content-footer-text {
    font-size: 12px;
  }

  &__content-footer-logos {
    display: flex;

    img {
      display: block;
    }
  }

  &__woman-img {
    z-index: -1;
  }

  &__slider-container {
    flex: 0 1 100%;
    max-width: 350px;
    min-width: 280px;
  }

  &__title {
    font-size: 48px;
    margin-bottom: 32px;
  }

  &__subtitle {
    font-size: 20px;
  }

  &__card {
    padding: 30px 24px;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }

  &__card--row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  &__card-title {
    font-weight: bold;
  }

  &__card-subtitle {
    font-weight: bold;
    color: #08a800;
    font-size: 20px;
  }

  &__card-info {
    color: #6d7278;
    margin-top: -10px;
    margin-bottom: 40px;
  }

  &__card-slider {
    width: 100%;
  }

  &__card-footer-content {
    border-top: 1px solid #979797;
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__card-footer-title {
    font-size: 20px;
    font-weight: 700;
  }

  &__card-footer-subtitle {
    color: #6d7278;
  }

  &__card-footer-total {
    margin-top: 20px;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    color: #08a800;
  }

  &__divider {
    margin: 30px 0;
  }

  &__card-button {
    color: #fff;
    font-weight: bold;
    padding: 10px 0;
  }
}

.statistic {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  background: #f7f7f7;

  &__container {
    display: flex;
    width: 80%;
  }

  &__item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 36px;
      width: 36px;
      margin-right: 20px;
    }
  }

  &__info {
    strong {
      font-size: 20px;
    }

    p {
      color: #a1a8ae;
      font-size: 14px;
    }
  }
}

.testimoni {
  background-color: #fff;
  padding: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 24px;
    font-weight: 400;
    margin: 7.5px;
  }

  &__subtitle {
    margin-bottom: 28px;
  }

  &__container {
    display: flex;
    width: 100%;
  }

  &__container-item {
    flex: 1;
    background-color: white;
    padding: 16px;
    padding-bottom: 32px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    margin: 0 8px;

    p:last-child {
      text-align: center;
    }
  }

  &__container-item > p {
    font-size: 14px;
    color: #6d7278;
  }

  &__info-container {
    display: flex;
    align-items: center;
  }

  &__user-text {
    display: flex;
    flex-direction: column;
  }

  &__user-text > p {
    font-size: 14px;
  }

  &__img {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 50%;
  }

  &__divider {
    margin: 20px 0;
  }
}

.download {
  background-color: #fff;
  padding: 5%;

  display: flex;

  &__img-container {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__info-container {
    flex: 1;

    display: flex;
    flex-direction: column;

    justify-content: center;
  }

  &__title {
    font-size: 22px;
    margin-bottom: 20px;
  }

  &__subtitle {
    font-size: 17px;
  }

  p {
    font-weight: 500;
    margin-bottom: 32px;
  }

  img:first-child {
    margin-right: 20px;
  }
}

.advantages {
  background-color: #fff;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  &__container {
    width: 80%;

    display: flex;
  }

  &__item {
    padding: 12px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      font-weight: 800;
      font-size: 17px;
      margin-bottom: 16px;
    }

    p {
      font-size: 12px;
      color: #6d7278;
    }
  }
}

.loan-eligibility {
  padding: 60px;
  background-color: #1d7be2;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 22px;
  }

  &__container {
    width: 80%;
    display: flex;
    margin-top: 24px;
  }

  &__item {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    li {
      font-weight: 500;
      font-size: 17px;
      margin: 25px;
      padding-left: 50px;
      position: relative;

      &::before {
        content: "";
        display: inline-block;
        background-image: url("/assets/images/svg/verified.svg");
        background-size: contain;
        background-repeat: no-repeat;
        height: 30px;
        width: 30px;
        position: absolute;
        top: -2px;
        left: 0;
      }
    }
  }
}

.lending-process {
  background-color: #fff;
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 22px;
  }

  &__container {
    display: flex;
    width: 90%;
  }

  &__item {
    flex: 1;
    padding: 20px;

    li {
      position: relative;
      padding-left: 30px;
      margin: 20px;

      p {
        color: #6d7278;
        font-size: 12px;
        margin: 10px 0;
      }

      &::before {
        content: "";
        display: inline-block;
        background-image: url("/assets/images/svg/verified-blue.svg");
        background-size: contain;
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        position: absolute;
        top: 2px;
        left: 0;
      }
    }
  }
}

.service-area {
  background-color: #fff;
  padding: 20px;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 22px;
  }

  &__title {
    font-weight: 800;
    font-size: 17px;
    padding-left: 25px;
    position: relative;
    margin: 20px;

    &::before {
      content: "";
      display: inline-block;
      background-image: url("/assets/images/svg/location.svg");
      background-size: contain;
      background-repeat: no-repeat;
      height: 20px;
      width: 20px;
      position: absolute;
      top: 2px;
      left: 0;
    }
  }

  &__divider {
    width: 80%;
    border: 1px solid #979797;
  }

  &__note {
    font-size: 10px;
    color: #6d7278;
  }
}

.rates-and-fees {
  background-color: #ebecee;
  padding: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 22px;
    margin-bottom: 60px;
  }

  &__container {
    display: flex;
    width: 80%;
  }

  &__item {
    flex: 1;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      height: 44px;
    }

    p {
      margin: 8px 0;
    }
  }
}

.awards {
  padding: 60px;
  background-color: #fff;
  align-items: center;
  justify-content: center;

  display: flex;

  &__title {
    font-size: 22px;
    font-weight: normal;
  }

  &__subtitle {
    font-size: 22px;
    font-weight: bold;
  }

  &__container {
    display: flex;
    width: 80%;
  }

  &__info-container {
    padding: 20px;
    flex: 1;

    display: flex;
    flex-direction: column;
  }

  &__logo-container {
    flex: 2;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    img {
      width: 80px;
      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }
}

::ng-deep .mat-accent .mat-slider-track-fill,
.mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label {
  background-color: #48a800;
}

::ng-deep .mat-slider-thumb {
  background-color: #fff !important;
  border: 3px solid #48a800 !important;
}
