<app-navbar></app-navbar>
<main class="Content landing-page">
  <div class="landing-hero">
    <div class="landing-hero__content">
      <div class="landing-hero__content-main">
        <h1 class="landing-hero__title">
          Ajukan Pinjaman Online Tanpa Jaminan
        </h1>
        <p class="landing-hero__subtitle">
          Hanya dengan KTP, dapatkan kredit tanpa agunan hingga
          <strong>Rp20.000.000</strong>
        </p>
      </div>
      <div class="landing-hero__content-footer">
        <div class="landing-hero__content-footer-text">
          <p>
            Tunaiku adalah produk dari Bank Amar yang terdaftar dan diawasi oleh
            OJK sejak 2014
          </p>
        </div>
        <div class="landing-hero__content-footer-logos">
          <a href="">
            <img
              src="assets/images/svg/Amar-Bank.svg"
              alt=""
              class="landing-hero__content-footer-image"
            />
          </a>
          <a href="">
            <img
              src="assets/images/svg/OJK.svg"
              alt=""
              class="landing-hero__content-footer-image"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="landing-hero__woman">
      <img
        src="assets/images/png/homepage-woman.png"
        alt="landing-woman"
        class="landing-hero__woman-img"
      />
    </div>
    <div class="landing-hero__slider-container">
      <div class="Card Card--elevated landing-hero__card">
        <div class="Card-body">
          <div class="landing-hero__card--row">
            <span class="landing-hero__card-title">Jumlah Pinjaman</span>
            <span class="landing-hero__card-subtitle">
              {{ loan.loanValue }} Juta
            </span>
          </div>
          <div class="landing-hero__card--row">
            <mat-slider
              min="2"
              max="20"
              step="1"
              value="2"
              class="landing-hero__card-slider"
              (input)="onLoanValueChange($event)"
            ></mat-slider>
          </div>
          <div class="landing-hero__card--row landing-hero__card-info">
            <p>2 Juta</p>
            <p>20 Juta</p>
          </div>
          <div class="landing-hero__card--row">
            <span class="landing-hero__card-title">Lama Pinjaman</span>
            <span class="landing-hero__card-subtitle">
              {{ loan.loanDuration }} Bulan
            </span>
          </div>
          <div class="landing-hero__card--row">
            <mat-slider
              min="6"
              max="20"
              step="1"
              value="9"
              class="landing-hero__card-slider"
              (input)="onLoanDurationChange($event)"
            ></mat-slider>
          </div>
          <div class="landing-hero__card--row landing-hero__card-info">
            <p>6 Bulan</p>
            <p>20 Bulan</p>
          </div>
          <div class="landing-hero__card-footer-content">
            <span class="landing-hero__card-footer-title">
              Cicilan per Bulan
            </span>
            <p class="landing-hero__card-footer-subtitle">
              *sudah termasuk bunga dan biaya admin
            </p>
            <span class="landing-hero__card-footer-total">
              {{ loan.debt | currency: 'Rp':'symbol':'3.0' }}
            </span>
          </div>
        </div>

        <div class="Card-footer">
          <a
            routerLink="/loan/confirm-service-area"
            class="Button Button--primary Button--fullWidth landing-hero__card-button"
          >
            Ajukan Pinjaman
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="statistic">
    <div class="statistic__container">
      <div class="statistic__item">
        <img
          src="assets/images/svg/icon_income.svg"
          alt=""
          class="statistic__image"
        />
        <div class="statistic__info">
          <strong class="statistic__title">Rp 4 Triliun</strong>
          <p class="statistic__description">Pembiayaan yang telah disalurkan</p>
        </div>
      </div>
      <div class="statistic__item">
        <img
          src="assets/images/svg/icon_smartphone.svg"
          alt=""
          class="statistic__image"
        />
        <div class="statistic__info">
          <strong class="statistic__title">4.6 juta Pengguna</strong>
          <p class="statistic__description">Mengunduh aplikasi Tunaiku</p>
        </div>
      </div>
    </div>
  </div>

  <div class="testimoni">
    <h2 class="testimoni__title">Testimoni Nasabah</h2>
    <p class="testimoni__subtitle">Apakah KTA Tunaiku Aman?</p>
    <div class="testimoni__container">
      <div class="testimoni__container-item">
        <div class="testimoni__info-container">
          <img
            src="../../../../assets/images/png/testimony_murad.png"
            alt=""
            class="testimoni__img"
          />
          <div class="testimoni__user-text">
            <p>Murad Dn, 41 tahun</p>
            <strong>Rp5.000.000</strong>
          </div>
        </div>
        <hr class="testimoni__divider" />
        <p>Pinjaman mudah, anak bisa sekolah dengan nyaman.</p>
      </div>
      <div class="testimoni__container-item">
        <div class="testimoni__info-container">
          <img
            src="../../../../assets/images/png/testimony_kasriarsih.png"
            alt=""
            class="testimoni__img"
          />
          <div class="testimoni__user-text">
            <p>Kasriasih, 48 tahun</p>
            <strong>Rp10.000.000</strong>
          </div>
        </div>
        <hr class="testimoni__divider" />
        <p>Pinjaman mudah, anak bisa sekolah dengan nyaman.</p>
      </div>
      <div class="testimoni__container-item">
        <div class="testimoni__info-container">
          <img
            src="../../../../assets/images/png/testimony_sarsih.png"
            alt=""
            class="testimoni__img"
          />
          <div class="testimoni__user-text">
            <p>Sarsih Handayani, 37 tahun</p>
            <strong>Rp10.000.000</strong>
          </div>
        </div>
        <hr class="testimoni__divider" />
        <p>
          Tunaiku memberikan kemudahan untuk memperoleh dana, terutama saat dana
          darurat menipis dan asuransi sudah limit.
        </p>
      </div>
      <div class="testimoni__container-item">
        <div class="testimoni__info-container">
          <img
            src="../../../../assets/images/png/testimony_faizal.png"
            alt=""
            class="testimoni__img"
          />
          <div class="testimoni__user-text">
            <p>Faizal Wirya Widodo, 26 tahun</p>
            <strong>Rp2.000.000</strong>
          </div>
        </div>
        <hr class="testimoni__divider" />
        <p>Pelayanan Tunaiku sangatlah baik, keamanannya terjamin</p>
      </div>
    </div>
  </div>

  <div class="download">
    <div class="download__img-container">
      <img src="assets/images/svg/download-section.svg" alt="" />
    </div>
    <div class="download__info-container">
      <p class="download__title">
        Dapatkan Pengalaman Meminjam Mudah dan Praktis
      </p>
      <p class="download__subtitle">
        Pantau status pengajuan kreditmu dengan mudah, kapan pun, dimana pun
      </p>
      <div>
        <img src="assets/images/svg/Google-Play.svg" alt="" />
        <img src="assets/images/svg/App-Store.svg" alt="" />
      </div>
    </div>
  </div>

  <div class="advantages">
    <h2>Mengapa Lebih Baik Memilih Tunaiku</h2>
    <div class="advantages__container">
      <div class="advantages__item">
        <img src="assets/images/svg/Practical-Submissions.svg" alt="" />
        <h4>Pengajuan yang Praktis</h4>
        <p>
          Cukup dengan KTP, tidak perlu NPWP dan kartu kredit, disertakan hasil
          persetujuan pinjaman yang cepat untuk anda
        </p>
      </div>
      <div class="advantages__item">
        <img src="assets/images/svg/Large-and-Light-Loans.svg" alt="" />
        <h4>Pinjaman Besar dan Ringan</h4>
        <p>
          Jumlah pinjaman yang besar hingga 20 juta dengan jangka waktu cicilan
          yang panjang hingga 20 bulan.
        </p>
      </div>
      <div class="advantages__item">
        <img src="assets/images/svg/safe-transparent.svg" alt="" />
        <h4>Aman Transparan</h4>
        <p>
          PT BANK AMAR INDONESIA Tbk. terdaftar dan diawasi oleh OJK Indonesia
          sejak 2014, tanpa biaya tersembunyi
        </p>
      </div>
    </div>
  </div>

  <div class="loan-eligibility">
    <h2>Syarat Mengajukan Pinjaman</h2>
    <div class="loan-eligibility__container">
      <div class="loan-eligibility__item">
        <img src="assets/images/svg/apply-loan-terms.svg" alt="" />
      </div>
      <div class="loan-eligibility__item">
        <ul>
          <li>Usia 21 sampai 55 tahun</li>
          <li>Warga Negara Indonesia (WNI)</li>
          <li>Memiliki rekening bank</li>
          <li>Mempunyai pekerjaan atau penghasilan</li>
          <li>Alamat KTP atau berdomisili dalam area layanan kami</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="lending-process">
    <h2>Langkah Mengajukan Pinjaman di Tunaiku</h2>
    <div class="lending-process__container">
      <div class="lending-process__item">
        <ul>
          <li>
            <strong>Pendaftaran</strong>
            <p>
              Pilih jumlah dan lama pinjaman yang Anda inginkan. Isi formulir
              pengajuan kirimkan formulir pengajuan
            </p>
          </li>
          <li>
            <strong>Terima Persetujuan</strong>
            <p>
              Data Anda akan diproses oleh tim analis kami. Silakan tunggu
              kurang lebih 24 jam untuk mengetahui status pengajuan Anda.
            </p>
          </li>
          <li>
            <strong>Konfirmasi Pinjaman</strong>
            <p>
              Konfirmasi pinjaman Anda yang telah disetujui dan atur lokasi
              tanda tangan kontrak Anda dengan kurir kami.
            </p>
          </li>
          <li>
            <strong>Tanda Tangan Kontrak</strong>
            <p>
              Kurir kami akan membawa kontrak asli untuk Anda tandatangani
              sebagai bukti perjanjian, dalam 1-3 hari kerja (Tunaiku tidak
              melakukan survei).
            </p>
          </li>
          <li>
            <strong>Terima Dana</strong>
            <p>Dana akan dicairkan ke rekening bank Anda (1-3 hari kerja).</p>
          </li>
        </ul>
      </div>
      <div class="lending-process__item">
        <img src="assets/images/svg/apply-loan-steps.svg" alt="" />
      </div>
    </div>
  </div>

  <div class="service-area">
    <h2>Area layanan kami</h2>
    <p class="service-area__title">Jawa</p>
    <p>
      Jakarta, Bogor, Depok, Tangerang, Bekasi, Bandung, Semarang, Yogyakarta,
      Gresik, Sidoarjo, dan Surabaya
    </p>
    <p class="service-area__title">Sumatera</p>
    <p>Medan, Palembang, dan Pekanbaru</p>
    <p class="service-area__title">Kota Lainnya</p>
    <p>Makassar, dan Denpasar</p>
    <hr class="service-area__divider" />
    <p class="service-area__note">
      *) Jika ada perluasan wilayah, kami akan segera memperbarui info di
      website dan media sosial kami
    </p>
  </div>

  <div class="rates-and-fees">
    <h2>Suku Bunga & Biaya Lainnya</h2>
    <div class="rates-and-fees__container">
      <div class="rates-and-fees__item">
        <img src="assets/images/svg/administration-fee.svg" alt="" />
        <p>Biaya Administrasi</p>
        <strong>Rp540.000</strong>
      </div>
      <div class="rates-and-fees__item">
        <img src="assets/images/svg/rates.svg" alt="" />
        <p>Suku Bunga</p>
        <strong>3-4% per bulan</strong>
      </div>
      <div class="rates-and-fees__item">
        <img src="assets/images/svg/early-fee.svg" alt="" />
        <p>Biaya Pelunasan Lebih Awal</p>
        <strong>GRATIS</strong>
      </div>
      <div class="rates-and-fees__item">
        <img src="assets/images/svg/late-fee.svg" alt="" />
        <p>Denda Keterlambatan</p>
        <strong>Rp150.000/bulan</strong>
      </div>
    </div>
  </div>

  <div class="awards">
    <div class="awards__container">
      <div class="awards__info-container">
        <h2 class="awards__title">Penghargaan yang telah diraih oleh</h2>
        <h2 class="awards__subtitle">Tunaiku - Amarbank</h2>
      </div>
      <div class="awards__logo-container">
        <img src="assets/images/png/iconomics-award-logo.png" alt="" />
        <img src="assets/images/png/logo-top-lender.png" alt="" />
        <img src="assets/images/png/logo-infobank-award-2109@2x.png" alt="" />
        <img src="assets/images/png/logo-Best-Banking-Award-2019.png" alt="" />
        <img src="assets/images/png/financial-award-2019.png" alt="" />
        <img
          src="assets/images/png/logo-indonesia-most-admired-ceo-2019.png"
          alt=""
        />
      </div>
    </div>
  </div>
</main>
