<div class="advantages">
  <h2>Mengapa Lebih Baik Memilih Tunaiku</h2>
  <div class="advantages__container">
    <div class="advantages__item">
      <img src="assets/images/svg/Practical-Submissions.svg" alt="" />
      <h4>Pengajuan yang Praktis</h4>
      <p>
        Cukup dengan KTP, tidak perlu NPWP dan kartu kredit, disertakan hasil
        persetujuan pinjaman yang cepat untuk anda
      </p>
    </div>
    <div class="advantages__item">
      <img src="assets/images/svg/Large-and-Light-Loans.svg" alt="" />
      <h4>Pinjaman Besar dan Ringan</h4>
      <p>
        Jumlah pinjaman yang besar hingga 20 juta dengan jangka waktu cicilan
        yang panjang hingga 20 bulan.
      </p>
    </div>
    <div class="advantages__item">
      <img src="assets/images/svg/safe-transparent.svg" alt="" />
      <h4>Aman Transparan</h4>
      <p>
        PT BANK AMAR INDONESIA Tbk. terdaftar dan diawasi oleh OJK Indonesia
        sejak 2014, tanpa biaya tersembunyi
      </p>
    </div>
  </div>
</div>
