<div class="loan-eligibility">
  <h2>Syarat Mengajukan Pinjaman</h2>
  <div class="loan-eligibility__container">
    <div class="loan-eligibility__item">
      <img src="assets/images/svg/apply-loan-terms.svg" alt="" />
    </div>
    <div class="loan-eligibility__item">
      <ul>
        <li>Usia 21 sampai 55 tahun</li>
        <li>Warga Negara Indonesia (WNI)</li>
        <li>Memiliki rekening bank</li>
        <li>Mempunyai pekerjaan atau penghasilan</li>
        <li>Alamat KTP atau berdomisili dalam area layanan kami</li>
      </ul>
    </div>
  </div>
</div>
