<div class="awards">
  <div class="awards__container">
    <div class="awards__info-container">
      <h2 class="awards__title">Penghargaan yang telah diraih oleh</h2>
      <h2 class="awards__subtitle">Tunaiku - Amarbank</h2>
    </div>
    <div class="awards__logo-container">
      <img src="assets/images/png/iconomics-award-logo.png" alt="" />
      <img src="assets/images/png/logo-top-lender.png" alt="" />
      <img src="assets/images/png/logo-infobank-award-2109@2x.png" alt="" />
      <img src="assets/images/png/logo-Best-Banking-Award-2019.png" alt="" />
      <img src="assets/images/png/financial-award-2019.png" alt="" />
      <img
        src="assets/images/png/logo-indonesia-most-admired-ceo-2019.png"
        alt=""
      />
    </div>
  </div>
</div>
