/* You can add global styles to this file, and also import other style files */
@import "@amar-ui-web/core/index.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  height: 100%;
  color: #3d3d3d;
  background-color: #e4e2e2;
}

a,
a:link,
a:hover,
a:focus {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}
