<header class="Header navbar--fixed">
  <div class="navbar__container">
    <div class="navbar__block--left">
      <a href="#"
        ><img src="assets/images/svg/tunaiku-logo-color.svg" alt="Tunaiku"
      /></a>
    </div>
    <div class="navbar__block--center">
      <a href="">Tunaiku Invest</a>
      <a href="">Produk</a>
      <a href="">Tentang Kami</a>
      <a href="">Rilis Media</a>
      <a href="">Pusat Bantuan</a>
      <a href="">Saran</a>
    </div>
    <div class="navbar__block--right">
      <button class="Button Button--primary Button--outlined navbar__button">
        Masuk Akun
      </button>
    </div>
  </div>
</header>
